<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://unpkg.com/single-spa"></script>
  <script src="https://unpkg.com/single-spa-angularjs"></script>
  <title>Document</title>
</head>
<body>
  <div id="drum-machine"></div>

    
</body>
</html>