<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->
  <nav>
    <application name="@single-spa-microfrontend-angular-vue-react/navbar-cw"></application>
  </nav>
  <main>
    <route default>
      <application name="@single-spa/welcome"></application>
    </route>
    <route path="vue">
      <application name="@vue-single-spa/micro-app-vue"></application>
    </route>
    <route path="angular">
      <application name="@angular-single-spa/micro-app-angular"></application>
    </route>
  </main>
</single-spa-router>
